<p>
  home works.

  <button
  class="btn btn-primary btn-margin"
  *ngIf="!authService.isAuthenticated()"
  (click)="authService.login()">
    Log In
</button>

<button
  class="btn btn-primary btn-margin"
  *ngIf="authService.isAuthenticated()"
  (click)="getProfile()">
    gET PROFILE
</button>

<button
  class="btn btn-primary btn-margin"
  *ngIf="authService.isAuthenticated()"
  (click)="authService.logout()">
    Log Out
</button>
</p>
[s
<ngx-md [path]="'/assets/content/index.md'"></ngx-md>
]

<ngx-md>
  ### your markdown code
</ngx-md>


<button
  class="btn btn-primary btn-margin"
  (click)="submitChange()">
    Create PR
</button>


